#commands {
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1px 50px;
    background-color: #854b27;
    border-radius: 20px;
}

#commands h1 {
    font-size: 60px;
}
#commands h2 {
    font-size: 30px;
}
#commands p {
    font-size: 18px;
}

.commandsBigTitle {
    line-height: 10px;
}

.cmd {
    text-decoration-line: underline;
}