.avatar {
    height: 200px;
    width: 200px;
}

#developersPage {
    text-align: center;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1px 50px;
    background-color: #854b27;
    border-radius: 20px;
}

.youtube {
    height: 50px;
    width: 50px;
}

.info {
    line-height: 2px;
}

h1 {
    font-size: 30px;
}

@media screen and (max-width:435px) {
    .avatar {
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width:375px) {
    .avatar {
        height: 149px;
        width: 149px;
    }
}