::-webkit-scrollbar-track
{
	background-color: #fff780;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 81, 0);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 238, 0, 0.4) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 238, 0, 0.4) 50%,
											  rgba(255, 238, 0, 0.4) 75%,
											  transparent 75%,
											  transparent)
}

html{
    height:100%;
    position:relative;
}

header {
    margin: 0;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #FFB455;
    z-index: 99;
    box-shadow: 0 0 15px rgba(136, 66, 0, 0.479);
}

a.topBtn {
    text-decoration-line: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.element::-webkit-scrollbar { 
    width: 0 !important 
}

footer {
    background-color: #eb8500;
    position: absolute; 
    width: 100%;
    height: 150px;
    vertical-align: baseline;
    color: #ffffff;
}
ul#foot li {
    display: inline;
    text-align: left;
}
ul#foot {
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
#footerLogo {
    background-image: url("../images/averyLogoLong.png");
    background-size: 160px;
    background-repeat: no-repeat;
    height: 80px;
    width: 160px;
    position: relative;
    margin-left: 40px;
    margin-top: 11px;
}
#footerLogoWords {
    margin-left: 50px;
    margin-top: -9px;
    color: #e7e7e7;
}
#footerLogoCopyRightWords {
    margin-left: 51px;
    margin-top: -10px;
    font-size: 12px;
}
#footerAvery {
    float: right;
    margin-right: 50px;
}
#footerTeam {
    float: right;
    margin-right: 25px;
}
.footerWords {
    margin-top: 25px;
}
.footerWords b {
    text-decoration:underline;
}
#footerUls {
    float: left;
    margin-left: -10px;
    margin-top: 0px;
}
footer a, footer a:visited {
    color: #ffffff;
}
footer a:hover {
    color: #fff06c;
    cursor: pointer;
}
a.footerBtn {
    text-decoration-line: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

ul.topHead {
    text-align: right;
    margin-top: 10px;
}
ul.topHead li a {
    text-decoration-line: none;
}
#theMostRightBtn {
    margin-right: 15px;
}

ul.topHead li {
    font-family: Roboto-Regular;
    display: inline;
    color: #ffffff;
    font-size: 15px;
    padding: 0px;
    margin-left: 15px;
    text-align: right;
}

ul.topHead li a:visited, ul.topHead li a:link {
    display: inline;
    color: #ffffff;
    padding: 0px;
    margin-left: 15px;
    text-align: right;
}
ul.topHead li a:hover {
    color: #fff06c;
    cursor: pointer;
}
ul.topHead li a:active {
    color: #ffd86c;
}

#logo {
    background-image: url("../images/averyLogoLong.png");
    background-size: 160px;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    width: 160px;
    float: left;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    position: relative;
    margin-top: -40px;
    margin-left: 10px;
}

#logo:hover {
    cursor: pointer;
}

#menuBtn {
    margin-left: 0;
}

body {
    width: 100%;
}

#policyContent {
    width: 70%;
    margin-left: 15%;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}