::-webkit-scrollbar-track
{
	background-color: #fff780;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 81, 0);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 238, 0, 0.4) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 238, 0, 0.4) 50%,
											  rgba(255, 238, 0, 0.4) 75%,
											  transparent 75%,
											  transparent)
}

#policyContent b {
    line-height: 27px;
}

html{
    height:100%;
    position:relative;
}

footer p, footer b {
    color: #ffffff;
}

header {
    margin: 0;
    padding: 12px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #FFB455;
    z-index: 99;
    box-shadow: 0 0 15px rgba(136, 66, 0, 0.479);
}

a.topBtn {
    text-decoration-line: none;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.element::-webkit-scrollbar { 
    width: 0 !important 
}

footer {
    background-color: #eb8500;
    position: absolute; 
    width: 100%;
    height: 150px;
    vertical-align: baseline;
}
ul#foot li {
    display: inline;
    text-align: left;
}
ul#foot {
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
#footerLogo {
    background-image: url("../images/averyLogoLong.png");
    background-size: 160px;
    background-repeat: no-repeat;
    height: 80px;
    width: 160px;
    position: relative;
    margin-left: 40px;
    margin-top: 15px;
}
#footerLogoWords {
    margin-left: 50px;
    margin-top: -8px;
    color: #e7e7e7;
}
#footerLogoCopyRightWords {
    margin-left: 51px;
    margin-top: -10px;
    font-size: 12px;
    color: #ffffff;
}
#footerAvery {
    float: right;
    margin-right: 50px;
}
#footerResources {
    float: right;
    margin-right: 50px;
}
#footerBusiness {
    float: right;
    margin-right: 25px;
}
.footerWords {
    margin-top: 25px;
}
#footerUls {
    float: left;
    margin-left: -10px;
    margin-top: 0px;
}
.footerRightLinks p a {
    text-decoration-line: none;
    line-height: 8px;
}
.footerRightLinks p a:link, .footerRightLinks p a:visited {
    color: #ffffff;
}
.footerRightLinks p a:hover {
    color: #fff06c;
}
.footerRightLinks p a:active {
    color: #ffd86c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

ul.topHead {
    text-align: right;
    margin-top: 6px;
}
ul.topHead li a {
    text-decoration-line: none;
}
#theMostRightBtn {
    margin-right: 35px;
}

ul.topHead li {
    font-family: Roboto-Regular;
    display: inline;
    color: #ffffff;
    font-size: 15px;
    padding: 0px;
    margin-left: 15px;
    text-align: right;
}

ul.topHead li a:visited, ul.topHead li a:link {
    display: inline;
    color: #ffffff;
    padding: 0px;
    margin-left: 15px;
    text-align: right;
}
ul.topHead li a:hover {
    color: #fff06c;
    cursor: pointer;
}
ul.topHead li a:active {
    color: #ffd86c;
}

#logo {
    background-image: url("../images/averyLogoLong.png");
    background-size: 160px;
    background-repeat: no-repeat;
    display: block;
    height: 80px;
    width: 160px;
    float: left;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    position: relative;
    margin-top: -40px;
    margin-left: 10px;
}

#menuBtn {
    margin-left: 0;
}

body {
    width: 100%;
}

#policyContent {
    width: 70%;
    margin-left: 15%;
}

@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}

@media screen and (max-width:780px) {
    #footerLogo {
        background-image: url("../images/averyLogoLong.png");
        background-size: 120px;
        background-repeat: no-repeat;
        height: 52px;
        width: 120px;
        position: relative;
        margin-left: 25px;
        margin-top: 20px;
    }
    #footerLogoWords {
        margin-left: 35px;
        margin-top: 2px;
        font-size: 13px;
        color: #e7e7e7;
    }
    #footerLogoCopyRightWords {
        margin-left: 36px;
        margin-top: -15px;
        font-size: 12px;
    }
    #footerAvery {
        font-size: 14px;
        float: right;
        margin-right: 30px;
    }
    #footerResources {
        font-size: 14px;
        float: right;
        margin-right: 30px;
    }
    #footerBusiness {
        font-size: 14px;
        float: right;
        margin-right: 15px;
    }
    .footerRightLinks {
        line-height: 8px;
    }

    @media screen and (max-width:735px) {
        ul.topHead li {
            font-family: Roboto-Regular;
            display: inline;
            color: #ffffff;
            font-size: 13px;
            padding: 0px;
            margin-left: 0px;
            text-align: right;
        }
        #theMostRightBtn {
            margin-right: 15px;
        }
        #logo {
            background-image: url("../images/averyLogoLong.png");
            background-size: 120px;
            background-repeat: no-repeat;
            display: block;
            height: 50px;
            width: 120px;
            float: left;
            margin: 0;
            margin-left: 70px;
            padding: 0;
            position: relative;
            margin-top: -27px;
            margin-left: 0px;
        }
        
        #menuBtn {
            margin-left: 0;
        }
        
        #features {
            background: none;
            border: none;
            font-family: Roboto-Regular;
            color: #ffffff;
            font-size: 13px;
            margin-left: 15px;
        }
    }
    
    @media screen and (max-width:620px) {
        ul.topHead li {
            font-family: Roboto-Regular;
            display: inline;
            color: #ffffff;
            font-size: 13px;
            padding: 0px;
            margin-left: 0px;
            text-align: right;
        }
        #theMostRightBtn {
            margin-right: 15px;
        }
        #logo {
            background-image: url("../images/averyLogoLong.png");
            background-size: 120px;
            background-repeat: no-repeat;
            display: block;
            height: 50px;
            width: 120px;
            float: left;
            margin: 0;
            margin-left: 70px;
            padding: 0;
            position: relative;
            margin-top: -27px;
            margin-left: 0px;
        }
        
        #menuBtn {
            margin-left: 0;
        }
        
        #features {
            background: none;
            border: none;
            font-family: Roboto-Regular;
            color: #ffffff;
            font-size: 13px;
            margin-left: 15px;
        }

        #footerLogo {
            background-image: url("../images/averyLogoLong.png");
            background-size: 100px;
            background-repeat: no-repeat;
            height: 45px;
            width: 100px;
            position: relative;
            margin-left: 25px;
            margin-top: 20px;
        }
        #footerLogoWords {
            margin-left: 35px;
            margin-top: 0px;
            font-size: 11px;
            color: #e7e7e7;
        }
        #footerLogoCopyRightWords {
            margin-left: 36px;
            margin-top: -15px;
            font-size: 12px;
        }
        #footerAvery {
            font-size: 12px;
            float: right;
            margin-right: 20px;
        }
        #footerResources {
            font-size: 12px;
            float: right;
            margin-right: 20px;
        }
        #footerBusiness {
            font-size: 12px;
            float: right;
            margin-right: 10px;
        }
        .footerRightLinks {
            line-height: 8px;
        }
    }

    @media screen and (max-width:565px) {
        ul.topHead li {
            font-family: Roboto-Regular;
            display: inline;
            color: #ffffff;
            font-size: 11px;
            padding: 0px;
            margin-left: -5px;
            text-align: right;
        }
        #theMostRightBtn {
            margin-right: 15px;
        }
        #logo {
            background-image: url("../images/averyLogoLong.png");
            background-size: 100px;
            background-repeat: no-repeat;
            display: block;
            height: 50px;
            width: 100px;
            float: left;
            margin: 0;
            margin-left: 70px;
            padding: 0;
            position: relative;
            margin-top: -20px;
            margin-left: 0px;
        }
        
        #menuBtn {
            margin-left: 0;
        }
        
        #features {
            background: none;
            border: none;
            font-family: Roboto-Regular;
            color: #ffffff;
            font-size: 11px;
            margin-left: 15px;
        }
    }

    @media screen and (max-width:565px) {
        ul.topHead li {
            font-family: Roboto-Regular;
            display: inline;
            color: #ffffff;
            font-size: 11px;
            padding: 0px;
            margin-left: -5px;
            text-align: right;
        }
        #theMostRightBtn {
            margin-right: 15px;
        }
        #logo {
            background-image: url("../images/averyLogoLong.png");
            background-size: 100px;
            background-repeat: no-repeat;
            display: block;
            height: 50px;
            width: 100px;
            float: left;
            margin: 0;
            margin-left: 70px;
            padding: 0;
            position: relative;
            margin-top: -20px;
            margin-left: 0px;
        }
        
        #menuBtn {
            margin-left: 0;
        }
        
        #features {
            background: none;
            border: none;
            font-family: Roboto-Regular;
            color: #ffffff;
            font-size: 11px;
            margin-left: 10px;
        }
        footer {
            background-color: #eb8500;
            position: absolute; 
            width: 100%;
            height: 200px;
            vertical-align: baseline;
        }
        #footerLogo {
            background-image: url("../images/averyLogoLong.png");
            background-size: 100px;
            background-repeat: no-repeat;
            height: 45px;
            width: 100px;
            position: relative;
            margin-left: 25px;
            margin-top: 20px;
        }
        #footerLogoWords {
            margin-left: 35px;
            margin-top: 0px;
            font-size: 8px;
            color: #e7e7e7;
        }
        #footerLogoCopyRightWords {
            margin-left: 36px;
            margin-top: -11px;
            font-size: 8px;
        }
        #footerAvery {
            font-size: 12px;
            float: right;
            margin-right: 0px;
        }
        #footerResources {
            font-size: 12px;
            float: right;
            margin-right: 10px;
        }
        #footerBusiness {
            font-size: 12px;
            float: right;
            margin-right: 10px;
        }
        .footerRightLinks {
            line-height: 8px;
        }
    }
}